@font-face {
    font-family: 'Alegreya Sans SC';
    src: url("/fonts/AlegreyaSansSC-Regular.ttf");
}
@keyframes webLoadBody {
    from {
        border-top: solid #D50000 5px;
        border-bottom: solid #D50000 5px;

    }
    to {
        border-top: solid #29B6F6 5px;
        border-bottom: solid #29B6F6 5px;
    }
}
@keyframes webLoadElement {
    from {
        border: solid #D50000 5px;

    }
    to {
        border: solid #29B6F6 5px;
    }
}
@keyframes pageSelect {
    from {
        transform: translateX(100px);
        opacity: 0;

    }
    to {
        transform: translateX(0);
        opacity: 100;

    }
}
a {
    text-decoration: none;
    color: inherit;
}
#page-select {
    min-width: 250px;
    min-height: 150px;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
}
#page-select:hover > .page:not(#page-selected) {
    animation-name: pageSelect;
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    visibility: visible;
}
.page:hover {
    border: solid #29B6F6 5px;
}
#page-selected {
    animation-name: webLoadElement;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    z-index: 1;
    border: solid #29B6F6 5px;
    padding: 5px;
    border-radius: 5px;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    visibility: visible;
}
.page {
    visibility: hidden;
    border: solid #424242 5px;
    background-color: #607D8B;
    width: fit-content;
    height: 40px;
    padding: 5px;
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
}
body {
    font-family: 'Alegreya Sans SC';
    border-top: solid #29B6F6 5px;
    animation-name: webLoadBody;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    border-bottom: solid #29B6F6 5px;
    background-color: #212121;
    color: #FAFAFA;
    height: 1000px;
    padding: 0;
    margin: 0;
}